In [ ]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
mapping = {"home": "principal", "how_it_works": "como_funciona", "contact":"contato", "bought": "comprou"}
dados = dados.rename(columns=mapping)
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [ ]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [ ]:
#sempre separar os dados de teste e treino!
len_x, len_y = dados.shape
len_x, len_y

(99, 4)

In [ ]:
treino_x = x[:int(round(0.75*len_x))]
treino_y = y[:int(round(0.75*len_x))]
teste_x = x[int(round(0.75*len_x)):]
teste_y = y[int(round(0.75*len_x)):]

print(f"Treinamos com {int(round(0.75*len_x))} e testamos com {int(round(0.25*len_x))} elementos")

Treinamos com 74 e testamos com 25

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
#1 Cria o modelo
model = LinearSVC()
#2 treina o modelo com os dados de treino
model.fit(treino_x, treino_y)
#3 faz a previsões com os dados de teste_x
previsoes = model.predict(teste_x)
#4 levanta a precisao da predição com os dados de teste_y
taxa_de_acertos = accuracy_score(teste_y, previsoes)
print(f"Taxa de acertos: {round(taxa_de_acertos*100, 2)} %")

Taxa de acertos: 96.0 %

In [ ]:
# no sklearn já existe uma função para separar dados de treino e teste
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

seed = 20   #ordem dos numeros aleatórios

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state= seed, test_size = 0.25)
print(f"Treinamos com {len(treino_x)} e testamos com {len(teste_x)} elementos")
model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)
taxa_de_acertos = accuracy_score(teste_y, previsoes)
print(f"Taxa de acertos: {round(taxa_de_acertos*100)} %")

Treinamos com 74 e testamos com 25
Taxa de acertos: 96 %

In [ ]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [ ]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [ ]:
#observa-se que as proporções das labels no set de dados do treino_y e do teste_y não estão coerentes. O interessante é que estas estejam próximas! Para isso, use o argumento "stratify"
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state= seed, test_size = 0.25,
                                                        stratify = y)
model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)
taxa_de_acertos = accuracy_score(teste_y, previsoes)
print(f"Taxa de acertos: {round(taxa_de_acertos*100)} %")

Taxa de acertos: 96 %

In [ ]:
#Agora temos a proporção coerente!
print(treino_y.value_counts())
print(teste_y.value_counts())

0    49
1    25
Name: comprou, dtype: int64
0    17
1     8
Name: comprou, dtype: int64